@font-face {
   font-family: 'ARJULIAN';
   font-display: swap;
   src: url('ARJULIAN/font.ttf');
}
@font-face {
   font-family: 'Aldine 721 Italic BT';
   font-display: swap;
   src: url('Aldine 721 Italic BT/font.ttf');
}
