@font-face {
   font-family: 'Aldine 721 Italic BT';
   font-display: swap;
   src: url('file:///C:/Users/wilza/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-23_231109/fonts/Aldine%20721%20Italic%20BT/font.ttf');
}
