@font-face {
   font-family: 'ARJULIAN';
   font-display: swap;
   src: url('file:///C:/Users/wilza/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-23_231109/fonts/ARJULIAN/font.ttf');
}
